Q . 1 : create a pandas series that contains the following data : 4,8,15,16,23 and 42

In [2]:
import numpy as np 
import pandas as pd

In [4]:
data = [4,8,15,17,23,42]
df = pd.Series(data)
print(df)

0     4
1     8
2    15
3    17
4    23
5    42
dtype: int64

In [5]:
type(df)

pandas.core.series.Series

Q 2  : Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q 3  : 
    create a  Data frame:

In [12]:
data = {'Name':['Alice','Bob','Claire'] , 
         'Age':[25,30,27],
          'Gender':['Female','Male','Female']}


dataframe_ = pd.DataFrame(data)

print(dataframe_)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q.4

Q4: Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas Series is a one-dimensional labeled array that can hold data of any type. It is similar to a single column in a spreadsheet or a single feature in a dataset .

In pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns) 
Each column in a DataFrame can contain different data types (e.g., integers, strings, floats), and you can perform various data manipulation and analysis operations on it. Essentially, a DataFrame is a collection of pandas Series objects where each Series represents a column, and all Series share the same index.

In [14]:
series_1 = [1,23,3,92, 29]
series_data = pd.Series(series_1)
print(series_data)

0     1
1    23
2     3
3    92
4    29
dtype: int64

In [26]:
series_2 = [92,938,9238,918,938]
series_data_2 = pd.Series(series_2)
print(series_data)
type(series_data_2)

0     1
1    23
2     3
3    92
4    29
dtype: int64

pandas.core.series.Series

In [23]:
DataFrame_combining_series = pd.DataFrame(index = [series_1,series_2])

In [24]:
DataFrame_combining_series

Empty DataFrame
Columns: []
Index: [(1, 92), (23, 938), (3, 9238), (92, 918), (29, 938)]

In [27]:
type(DataFrame_combining_series) # here is the difference , its combinations of several series

pandas.core.frame.DataFrame

In [1]:
# Q.5

What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are many common functions that we use in pandas like : info, describe, shape , head.
    
    head() : used to get some rows from initial , for eg: head(10) : show first 10 records of the datas

In [6]:
import pandas as pd
data_1 = {'Height':[165,170,169,175,185],'Weight':[89,78,70,78,85]}

df_new = pd.DataFrame(data_1)

In [9]:
df_new.head(3) # head(3) : returns 3 records

   Height  Weight
0     165      89
1     170      78
2     169      70

In [13]:
df_new.info() # infor : returns about data type of each column(or variable) , telling either column is null or not null.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  5 non-null      int64
 1   Weight  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [15]:
df_new.describe() # describe : shows different statistical informations and various insights about the data ,(5 summary points about data)

           Height     Weight
count    5.000000   5.000000
mean   172.800000  80.000000
std      7.694154   7.314369
min    165.000000  70.000000
25%    169.000000  78.000000
50%    170.000000  78.000000
75%    175.000000  85.000000
max    185.000000  89.000000

In [17]:
df_new.shape # returns about dimensions about data : 5 rows and 2 columns

(5, 2)

# Q 6 :

Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, Series and DataFrame are mutable, while Panel is considered deprecated and no longer recommended for use as of Pandas version 0.25.0. Therefore, we should primarily work with Series and DataFrame objects when using Pandas for data manipulation and analysis.

A Series is a one-dimensional labeled array, and its values can be modified after creation

In [20]:
s = pd.Series([1, 2, 3, 4])
s[2] = 99 # modification at index 2 is 99

In [21]:
s.head()

0     1
1     2
2    99
3     4
dtype: int64

In [29]:
df_new_after_modification=df_new['Weight'][0]=20 # changes in modification

# Q 7

Create a DataFrame using multiple Series. Explain with an example.

In [31]:
series_1 = pd.Series([1,2,3,4,5],name = 'column1')

In [32]:
series_2 = pd.Series(['a','b','c','d','e'],name = 'column2')

In [35]:
df_data = pd.DataFrame({'column1':series_1,'column2':series_2})

In [36]:
df_data

   column1 column2
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e